services:
  web:
    container_name: web
    build:
      context: ./server
      dockerfile: ./Dockerfile
    env_file:
      - ./.env
    # ports:
    #   - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  nginx:
    container_name: nginx
    image: nginx:stable-alpine
    env_file:
      - ./.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl-params.conf:/etc/nginx/ssl-params.conf:ro
      - ./nginx/conf.d/default.conf.template:/etc/nginx/conf.d/default.conf.template:ro
      - ./nginx/certs:/etc/nginx/certs:ro # Mount your new certs directory here
      - ./www/html:/var/www/html:ro
    depends_on:
      - web

  db:
    container_name: db
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      PGTZ: Europe/Sofia
      LANG: en_US.utf8
      LC_ALL: en_US.utf8
    volumes:
      - db-data:/var/lib/postgresql/data
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db-data:
