{{ define "home-page" }}
<ul id="section-list">
  <li>
    <span
      hx-get="/home?section=summary"
      hx-target="#section-content"
      class="tracker-nav-button section-button active"
      >Summary</span
    >
  </li>
  <li>
    <span
      hx-get="/home?section=chart"
      hx-target="#section-content"
      class="tracker-nav-button section-button"
      >Search</span
    >
  </li>
</ul>
<div id="section-content">{{ template "home-summary" . }}</div>
<script>
  function activeButtons() {
    const buttons = document.querySelectorAll(".section-button");
    for (const button of buttons) {
      button.addEventListener("click", () => {
        buttons.forEach((b) => {
          if (b.classList.contains("active")) {
            b.classList.remove("active");
          }
        });

        button.classList.add("active");
      });
    }
  }

  activeButtons();
</script>
{{ end }}
