{{ define "root" }}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../static/css/styles.css" />
  <link rel="icon" type="image/png" href="../../../static/favicon.png" />
  <title>My Expense Trackers</title>
</head>

<body>
  {{ template "header" .HeaderOpts }}
  <div class="container">
    <div id="tracker-content">
      {{ if eq .TemplateName "home-page" }} {{ template "home-page"
      .TemplateContent }} {{ else if eq .TemplateName "car-page" }} {{
      template "car-page" .TemplateContent }} {{ else if eq .TemplateName
      "login-page" }} {{ template "login-page" .TemplateContent }} {{ else if
      eq .TemplateName "register-page" }} {{ template "register-page"
      .TemplateContent }} {{ else }} {{ template "index-page" . }} {{ end }}
    </div>
  </div>
  <footer>
    <p>&copy; 2025 My Expense Trackers Suite. All rights reserved.</p>
  </footer>
  <dialog id="dialog-modal" hx-on::after-swap="document.getElementById('dialog-modal').showModal()"></dialog>
</body>

<script src="../,,/../static/js/htmx.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    const setTheme = (theme) => {
      if (theme === "dark") {
        body.classList.add("dark");
        localStorage.setItem("theme", "dark");
      } else {
        body.classList.remove("dark");
        localStorage.setItem("theme", "light");
      }
    };

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      setTheme(savedTheme);
    } else if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    ) {
      setTheme("dark");
    } else {
      setTheme("light");
    }

    themeToggle.addEventListener("click", () => {
      if (body.classList.contains("dark")) {
        setTheme("light");
      } else {
        setTheme("dark");
      }
    });

    const trackerNavButtons = document.querySelectorAll(
      ".tracker-nav-button",
    );

    const setActiveTrackerNavButton = (path) => {
      trackerNavButtons.forEach((button) => {
        const buttonPath = button.getAttribute("data-path");
        if (buttonPath === path) {
          button.classList.add("active");
        } else {
          button.classList.remove("active");
        }
      });
    };

    const initialTrackerPath =
      window.location.pathname === "/"
        ? "/home-utilities"
        : window.location.pathname;
    setActiveTrackerNavButton(initialTrackerPath);

    document.body.addEventListener("htmx:afterSwap", (event) => {
      setActiveTrackerNavButton(window.location.pathname);
    });

    document.body.addEventListener("htmx:historyCacheMiss", (event) => {
      setActiveTrackerNavButton(window.location.pathname);
    });

    if (window.location.pathname === "/") {
      const homeUtilitiesButton = document.querySelector(
        '.tracker-nav-button[data-path="/home-utilities"]',
      );
      if (homeUtilitiesButton) {
        htmx.trigger(homeUtilitiesButton, "click");
      }
    }
  });
</script>

</html>
{{ end }}
