{{ define "register-success"}}
<div class="redirect-message-container">
  <h2>{{ T .Lang "register.redirecting" }}</h2>
  <p>
    {{ T .Lang "register.redirect_msg" }}
    <span id="countdown">5</span> {{ T .Lang "register.seconds" }}.
  </p>
  <p>
    {{ T .Lang "register.manual_redirect" }}
    <a href="/">{{ T .Lang "register.click_here" }}</a>.
  </p>

  <script>
    // Get the countdown element
    const countdownElement = document.getElementById("countdown");
    let countdown = 5;

    // Update the countdown every second
    const intervalId = setInterval(() => {
      countdown--;
      if (countdownElement) {
        countdownElement.textContent = countdown;
      }

      if (countdown <= 0) {
        clearInterval(intervalId); // Stop the countdown
        window.location.href = "/"; // Perform the redirect
      }
    }, 1000); // Every 1000 milliseconds (1 second)
  </script>
</div>
{{ end }}
