:root {
  --hue: 264;
  --hue-secondary: 264;
  --hue-highlight-secondary: 265;

  --chroma: 0.05;
  --chroma-bg: calc(var(--chroma) * 0.5);
  --chroma-text: min(var(--chroma), 0.2);
  --chroma-action: max(var(--chroma), 0.1);
  --chroma-alert: max(var(--chroma), 0.2);
  --chroma-secondary: 0.2;
  --chroma-highlight-secondary: 0.15;

  --lightness-bg-dark: 0.92;
  --lightness-bg: 0.96;
  --lightness-bg-light: 1;
  --lightness-text: 0.15;
  --lightness-text-muted: 0.4;
  --lightness-secondary: 0.6;
  --lightness-highlight-secondary: 0.75;

  --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);

  --danger: oklch(0.75 var(--chroma-alert) 30);
  --warning: oklch(0.75 var(--chroma-alert) 100);
  --success: oklch(0.75 var(--chroma-alert) 160);
  --info: oklch(0.75 var(--chroma-alert) 260);

  --text: oklch(var(--lightness-text) var(--chroma-text) var(--hue));
  --text-muted: oklch(var(--lightness-text-muted) var(--chroma-text) var(--hue));

  --text-sec: oklch(var(--lightness-text) var(--chroma-text) var(--hue-secondary));
  --text-muted-sec: oklch(var(--lightness-text-muted) var(--chroma-text) var(--hue-secondary));

  --bg-light: oklch(var(--lightness-bg-light) var(--chroma-bg) var(--hue));
  --bg: oklch(var(--lightness-bg) var(--chroma-bg) var(--hue));
  --bg-dark: oklch(var(--lightness-bg-dark) var(--chroma-bg) var(--hue));

  --bg-sec: oklch(var(--lightness-secondary) var(--chroma-secondary) var(--hue-secondary));

  --hover: oklch(var(--lightness-highlight-secondary) var(--chroma-secondary) var(--hue-highlight-secondary));
  --highlight-sec: oklch(var(--lightness-highlight-secondary) calc(var(--chroma-secondary) + 0.1) var(--hue-highlight-secondary));
}

body.dark {
  --lightness-bg-dark: 0.15;
  --lightness-bg: 0.2;
  --lightness-bg-light: 0.26;
  --lightness-text: 0.95;
  --lightness-text-muted: 0.75;
  --hue-secondary: 264;
  --lightness-secondary: 0.37;
  --hue-highlight-secondary: 265;
  --lightness-highlight-secondary: 0.5;

  --text: oklch(var(--lightness-text) var(--chroma-text) var(--hue));
  --text-muted: oklch(var(--lightness-text-muted) var(--chroma-text) var(--hue));
  --text-sec: oklch(var(--lightness-text) var(--chroma-text) var(--hue-secondary));
  --text-muted-sec: oklch(var(--lightness-text-muted) var(--chroma-text) var(--hue-secondary));
  --bg-light: oklch(var(--lightness-bg-light) var(--chroma-bg) var(--hue));
  --bg: oklch(var(--lightness-bg) var(--chroma-bg) var(--hue));
  --bg-dark: oklch(var(--lightness-bg-dark) var(--chroma-bg) var(--hue));

  --bg-sec: oklch(var(--lightness-secondary) var(--chroma-secondary) var(--hue-secondary));

  --hover: oklch(var(--lightness-highlight-secondary) var(--chroma-secondary) var(--hue-highlight-secondary));
  --highlight-sec: oklch(var(--lightness-highlight-secondary) var(--chroma-secondary) var(--hue-highlight-secondary));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
}

body {
  margin: 0em auto;
  padding: 0em 0.5em;
  font:
    16px/1.5 "Inter",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

button {
  color: var(--text-sec);
  background:
    linear-gradient(to bottom, var(--bg-dark), var(--bg-light)) padding-box,
    linear-gradient(to bottom, var(--bg-dark), var(--bg-light)) border-box;
  border: 2px solid transparent;
  outline: none;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-shadow: var(--shadow);
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  border-radius: 0.5em;
  border-color: var(--highlight-sec);
  background:
    linear-gradient(to top, var(--bg-dark), var(--bg-light)) padding-box,
    linear-gradient(to top, var(--bg-dark), var(--bg-light)) border-box;
}

/* Header Section */
.header-section {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  width: 98vw;
  max-height: 6vh;
}

.header-section h3 {
  position: absolute;
  top: -0.5%;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

/* Theme Toggle Button */
#theme-toggle {
  margin: 0.5em;
  padding: 0.5em;
  background-color: var(--bg-light);
  display: flex;
  align-items: center;
}

#theme-toggle:hover {
  background-color: var(--hover);
  border-color: var(--highlight-sec);
}

#theme-toggle .sun {
  display: block;
}

body.dark #theme-toggle .sun {
  display: none;
}

#theme-toggle .moon {
  display: none;
}

body.dark #theme-toggle .moon {
  display: block;
}

#theme-toggle span {
  margin-left: 0.5em;
}

/* Tracker Navigation */
#tracker-navigation {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 0.5em;
}

.tracker-nav-button {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.tracker-nav-button:hover {
  background:
    linear-gradient(to top, var(--bg-dark), var(--bg-light)) padding-box,
    linear-gradient(to top, var(--bg-dark), var(--bg-light)) border-box;
}

/* Specific styles for active/inactive home button */
.tracker-nav-button.active {
  border-bottom-color: var(--highlight-sec);
}

.tracker-nav-button svg {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.75em;
}

.container {
  text-align: center;
  /* align-content: center; */
  flex-grow: 1;
  width: 98vw;
  padding: 1em;
}

/* Main Content Area for Trackers */
#tracker-content {
  height: 100%;
  width: 100%;
  padding: 0em 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
}

footer {
  max-height: 6vh;
  width: 98vw;
  text-align: center;
  color: var(--text-muted);
  font-size: 0.875em;
  line-height: 1.25em;
  margin-top: 1em;
  padding: 1em;
}

.register-form-container {
  max-width: 50vw;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid transparent;
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.redirect-message-container {
  background-color: var(--bg-color-light-acc);
  text-align: center;
  padding: 50px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  max-width: 500px;
  margin: 50px auto;
}

.register-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

#index-section {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

#add-expense-section {
  margin: 2.5em;
}

#add-expense-section button {
  padding: 0.5em 2em;
  font-size: 1.125em;
  line-height: 1.75em;
}

.section-heading svg {
  margin-left: 0.75em;
}

/* Apply section heading styles */
#overview-section h2,
#recent-expenses-section h2,
.new-expense-heading {
  font-size: 1.875em;
  line-height: 2.25em;
  font-weight: 700;
  margin-bottom: 1.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.new-expense-heading {
  color: var(--text);
}

/* Specific SVG colors for each section heading */
#overview-section h2 svg {
  color: var(--hover);
}

#recent-expenses-section h2 svg {
  color: oklch(72.8% 0.207 317.3);
}

body.dark #recent-expenses-section h2 svg {
  color: oklch(52.8% 0.245 316.9);
}

.new-expense-heading svg {
  color: var(--success);
}

#backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: oklch(var(--lightness-bg-dark) var(--chroma-bg) var(--hue) / 0.6);
  z-index: 9998;
  transition: opacity 0.3s ease;
}

#backdrop.blurred-content {
  display: block;
  filter: blur(5px);
}

#action-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  background-color: inherit;
  border: 1px solid var(--bg-sec);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  z-index: 9999;
}

#modal {
  min-width: 30vw;
  position: fixed;
  top: 3%;
  left: 100%;
  transform: translateX(-105%);
  background-color: var(--bg);
  border-radius: 0.5em;
  z-index: 10000;
}

#confirm-btn:focus {
  border-radius: 0.5em;
  border-color: var(--highlight-sec);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0.5em 0.5em 0.5em;
  border: 1px solid transparent;
  border-radius: 0.5em;
  color: var(--text-muted);
}

.success {
  border-color: var(--success);
}

.success svg {
  stroke: var(--success);
}

.warn {
  border-color: var(--warning);
}

.warn svg {
  stroke: var(--warning);
}

.error {
  border-color: var(--danger);
}

.error svg {
  stroke: var(--danger);
}

.modal-container section {
  padding: 0em 1em;
  min-width: 100%;
  display: flex;
  gap: 4em;
}

.modal-container p {
  padding: 0em 1em;
}

.modal-container button {
  padding: 0.5em 3em;
}

.modal-container progress {
  margin-top: 0.5em;
  min-width: 95%;
}

.btn-container {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.new-expense-heading {
  font-size: 1.875em;
  line-height: 2.25em;
  font-weight: 700;
  margin: 1em 1em 1.5em 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.new-expense-heading svg {
  color: var(--success);
}

.new-expense-form {
  margin: 1em;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.new-expense-form> :last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.new-expense-form label {
  display: block;
  font-size: 0.875em;
  line-height: 1.25em;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 0.25em;
}

.new-expense-form input,
.new-expense-form select,
.new-expense-form textarea {
  margin-top: 0.25em;
  display: block;
  width: 100%;
  padding: 0.75em;
  border: 1px solid transparent;
  border-radius: 0.375em;
  box-shadow: var(--shadow);
  font-size: 1em;
  background-color: var(--bg);
  color: var(--text-muted);
}

.new-expense-form button {
  padding: 0.75em 2em;
  font-size: 1.125em;
  line-height: 1.75em;
}

.overview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Apply card common styles */
.card {
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  flex-basis: 25%;
  min-height: 28vh;
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}

/* Specific Card Backgrounds */
.total-expenses-card {
  background-image: linear-gradient(to bottom right,
      oklch(72.8% 0.168 257.7),
      oklch(53.9% 0.205 261.2));
}

body.dark .total-expenses-card {
  background-image: linear-gradient(to bottom right,
      oklch(33.9% 0.205 261.2),
      oklch(52.8% 0.168 257.7));
}

.highest-expense-card {
  background-image: linear-gradient(to bottom right,
      oklch(72.8% 0.207 317.3),
      oklch(53.9% 0.245 316.9));
}

body.dark .highest-expense-card {
  background-image: linear-gradient(to bottom right,
      oklch(33.9% 0.207 317.3),
      oklch(52.8% 0.245 316.9));
}

/* Apply common table styles */
.expenses-table {
  min-width: 100%;
  border-spacing: 0em;
  border: 1px solid var(--bg-sec);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
}

.expenses-table th {
  color: var(--text);
}

.expenses-table td,
th {
  padding: 0.25em;
}

.expenses-table thead :last-child th {
  border-bottom: 2px solid var(--text-muted);
}

.expenses-table tbody tr:nth-of-type(odd) {
  background-color: var(--bg);
  border-color: var(--text);
}

.expenses-table tbody tr:nth-of-type(even) {
  background-color: var(--bg-light);
  border-color: var(--text-muted);
}

/* Table action buttons - Common Styles */
.table-action-button {
  border: 1px solid transparent;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.table-action-button.red {
  background-color: var(--danger);
  border-color: var(--danger);
}

.table-action-button.red:hover {
  background-color: #b91c1c;
  border-color: #b91c1c;
}

/* Welcome Section */
.welcome-section {
  text-align: center;
  padding: 3em 0;
}

/* Welcome Section Heading */
.welcome-section h2 {
  font-size: 1.875em;
  line-height: 2.25em;
  font-weight: 700;
  margin-bottom: 1em;
}

/* Welcome Section Paragraph 1 */
.welcome-section p:nth-of-type(1) {
  font-size: 1.125em;
  line-height: 1.75em;
  margin-bottom: 1.5em;
}

/* Paragraph 2 styling */
.welcome-section p:nth-of-type(2) {
  font-size: 1em;
  line-height: 1.5em;
}

/* SVG icon styling */
.welcome-section svg {
  width: 6.25em;
  height: 6.25em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  stroke-width: 1px;
}

#section-list,
#section-content-list {
  list-style: none;
  display: flex;
  padding-inline-start: 0em;
  flex-grow: 1;
}

#section-list {
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 1em;
}

#section-list li {
  padding: 0.125em;
  width: 33.33%;
}

.section-button {
  display: block;
  height: 2.75em;
  width: 100%;
  font-size: 1.2em;
}

#chart-section {
  margin-top: 2em;
}

canvas {
  max-width: 95vw;
  max-height: 65vh;
  min-width: 80vw;
  min-height: 65vh;
  margin: 2em 0em;
}

#search-form {
  padding: 1em;
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#search-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form label {
  font-size: 1.125em;
  font-weight: 700;
}

#search-form input,
select {
  font-size: 1.125em;
  box-shadow: var(--shadow);
  text-align: center;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 0.25em;
  background-color: var(--bg-light);
  color: var(--text-muted);
}

.chart-search {
  font-size: 1.1em;
  padding: 0.34em 2em;
  align-self: flex-end;
}

.login-form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--bg-sec);
  border-radius: 8px;
  box-shadow: var(--shadow);
  background-color: var(--bg);
}

.login-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text);
}

.form-group input {
  color: var(--text-muted);
  background-color: var(--bg-light);
}

.form-control {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
  border-radius: 0.5em;
}

.form-control:focus {
  border-color: var(--bg-sec);
  outline: none;
  box-shadow: var(--shadow);
}

.btn-primary {
  margin-top: 1em;
  padding: 0.5em 2em;
  background:
    linear-gradient(to bottom, var(--bg), var(--bg-light)) padding-box,
    linear-gradient(to bottom, var(--bg), var(--bg-light)) border-box;
}
