/* @media (min-width: 767px) { */
/* } */
/**/
/* @media (min-width: 767px) { */
/*   .section-button { */
/*     font-size: 1.2em; */
/*   } */
/* } */

@media (min-width: 767px) and (max-width: 1400px) {
  .card {
    min-height: 15vh;
  }

  .new-expense-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .new-expense-form> :last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 1em;
  }
}
