{{ define "car-section-buttons" }}
<ul id="section-list">
  <li>
    <button type="button" hx-get="/car/current" hx-target="#section-content"
      class="tracker-nav-button section-button active">
      {{ T .Lang "common.current" }}
    </button>
  </li>
  <li>
    <button type="button" hx-get="/car/search" hx-target="#section-content" class="tracker-nav-button section-button">
      {{ T .Lang "search.title" }}
    </button>
  </li>
  <li>
    <button type="button" hx-get="/car/chart" hx-target="#section-content" class="tracker-nav-button section-button">
      {{ T .Lang "common.chart" }}
    </button>
  </li>
</ul>
{{ end }}
