{{ define "edit-exp-form" }}
<div>
  <h2 class="new-expense-heading">
    Edit Expense {{ .UtilityType }}
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="12" y1="1" x2="12" y2="23" />
      <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
    </svg>
  </h2>
  <form class="new-expense-form">
    <div>
      <label for="utilityType">Utility Type</label>
      <select id="utilityType" name="type">
        <option value="">Select a Utility</option>
        <option value="Electricity" {{if eq .UtilityType "Electricity" }}selected{{end}}>Electricity</option>
        <option value="Water" {{if eq .UtilityType "Water" }}selected{{end}}>Water</option>
        <option value="Gas" {{if eq .UtilityType "Gas" }}selected{{end}}>Gas</option>
        <option value="Internet" {{if eq .UtilityType "Internet" }}selected{{end}}>Internet</option>
        <option value="TV" {{if eq .UtilityType "TV" }}selected{{end}}>TV</option>
        <option value="Waste" {{if eq .UtilityType "Waste" }}selected{{end}}>Waste Management</option>
        <option value="Other" {{if eq .UtilityType "Other" }}selected{{end}}>Other</option>
      </select>
    </div>
    <div>
      <label for="amount">Amount ($)</label>
      <input type="number" id="amount" name="amount" step="0.01" min="0" value="{{ .Amount }}" required
        placeholder="e.g., 75.50" />
    </div>
    <div>
      <label for="expenseDate">Date</label>
      <input type="date" id="expenseDate" name="date" required value='{{ .ExpenseDate.Format "2006-01-02" }}' />
    </div>
    <div>
      <label for="notes">Notes (Optional)</label>
      <textarea id="notes" name="notes" rows="3" placeholder="e.g., Q2 2025 bill">{{ .Notes
        }}</textarea>
    </div>
    <div>
      <button type="button" class="btn-primary" onClick="document.getElementById('dialog-modal').close();">
        Cancel
      </button>
      <button type="submit" class="btn-primary" hx-put="/home/expenses/{{ .ID }}" hx-target="#exp-{{ .ID }}"
        hx-swap="outerHTML" hx-on::after-request="if(event.detail.successful) {
        document.getElementById('dialog-modal').close();
    }">
        Edit Expense
      </button>
    </div>
  </form>
</div>
{{ end }}
