{{ define "groceries-section-buttons" }}
<ul id="section-list">
  <li>
    <button
      type="button"
      hx-get="/groceries/current"
      hx-target="#section-content"
      class="tracker-nav-button section-button active"
    >
      {{ T .Lang "common.current" }}
    </button>
  </li>
  <li>
    <button
      type="button"
      hx-get="/groceries/search"
      hx-target="#section-content"
      class="tracker-nav-button section-button"
    >
      {{ T .Lang "search.title" }}
    </button>
  </li>
  <li>
    <button
      type="button"
      hx-get="/groceries/chart"
      hx-target="#section-content"
      class="tracker-nav-button section-button"
    >
      {{ T .Lang "common.chart" }}
    </button>
  </li>
</ul>
{{ template "section-buttons-script" }} {{ end }}
