{{ define "home-chart" }}
<section id="chart-section">
  <div>
    <form id="search-form">
      <div>
        <label for="from">From</label>
        <input type="date" id="from" value="{{ .DateBefore }}" />
      </div>
      <div>
        <label for="to">To</label>
        <input type="date" id="to" value="{{ .DateNow }}" />
      </div>
      <button type="button" id="chart-search">Search</button>
    </form>
  </div>
  <canvas id="chart"></canvas>
  <script src="../../../static/js/chart-script.js"></script>
</section>
{{ end }}
