{{ define "home-chart" }}
<section id="chart-section">
  <div>
    <form id="search-form">
      <div>
        <label for="type">Type</label>
        <select id="type">
          <option value="">All</option>
          {{ range .Types }}
          <option value="{{ .ID }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </div>
      <div>
        <label for="year">Year</label>
        <input type="number" id="year" value="{{ .Year }}" />
      </div>
      <button type="button" id="chart-search">Search</button>
    </form>
  </div>
  <canvas id="chart"></canvas>
  <script src="../../../static/js/chart-script.js"></script>
</section>
{{ end }}
