{{ define "house-exp-row" }}
<tr id="exp-{{ .ID }}">
  <td>{{ .ExpenseDate.Format "02.01.2006" }}</td>
  <td>{{ .UtilityType }}</td>
  <td>{{ printf "%.2f" .Amount }}</td>
  <td>{{ .Notes }}</td>
  <td>
    <button class="table-action-button blue" hx-get="/house/expenses/edit?id={{ .ID }}" hx-target="#dialog-modal">
      Edit
    </button>
    <button class="table-action-button red" hx-confirm="Are you sure you want to delete this expense?"
      hx-delete="/house/expenses/{{ .ID }}" hx-target="#exp-{{ .ID }}" hx-swap="outerHTML">
      Delete
    </button>
  </td>
</tr>
{{ end }}
