{{ define "car-exp-row" }}
<tr id="exp-{{ .Exp.ID }}">
  <td>{{ .Exp.Date.Format "02.01.2006" }}</td>
  <td>{{ .Exp.Type }}</td>
  <td>{{ printf "%.2f" .Exp.Amount }}</td>
  <td>{{ .Exp.FormattedMetadata }}</td>
  <td>{{ .Exp.Notes }}</td>
  <td>
    <button class="table-action-button blue" hx-get="/car/expenses/edit/{{ .Exp.ID }}" hx-target="#action-dialog">
      {{ T .Lang "common.edit" }}
    </button>
    <button class="table-action-button red" hx-get="/car/expenses/delete/{{ .Exp.ID }}" hx-target="#action-dialog">
      {{ T .Lang "common.delete" }}
    </button>
  </td>
</tr>
{{ end }}
