{{ define "house-exp-row" }}
<tr id="exp-{{ .Exp.ID }}">
  <td>{{ .Exp.ExpenseDate.Format "02.01.2006" }}</td>
  <td>{{ T .Lang (print "type." .Exp.UtilityType) }}</td>
  <td>{{ printf "%.2f" .Exp.Amount }}</td>
  <td>{{ printf "%.2f" .Exp.DiscountAmount }}</td>
  <td>{{ .Exp.FormattedMetadata .Lang }}</td>
  <td>{{ .Exp.Notes }}</td>
  <td>
    <button class="table-action-button blue" hx-get="/house/expenses/edit/{{ .Exp.ID }}" hx-target="#action-dialog">
      {{ T .Lang "common.edit" }}
    </button>
    <button class="table-action-button red" hx-get="/house/expenses/delete/{{ .Exp.ID }}" hx-target="#action-dialog">
      {{ T .Lang "common.delete" }}
    </button>
  </td>
</tr>
{{ end }}
