{{ define "house-exp-row" }}
<tr id="exp-{{ .ID }}">
  <td>{{ .ExpenseDate.Format "02.01.2006" }}</td>
  <td>{{ .UtilityType }}</td>
  <td>{{ printf "%.2f" .Amount }}</td>
  <td>{{ .Notes }}</td>
  <td>
    <button class="table-action-button blue" hx-get="./house/expenses/edit/{{ .ID }}" hx-target="#action-dialog">
      Edit
    </button>
    <button class="table-action-button red" hx-get="./house/expenses/delete/{{ .ID }}" hx-target="#action-dialog">
      Delete
    </button>
  </td>
</tr>
{{ end }}
